
.Gtexte {
    position: absolute;
    margin: -78px;
    left: 906px;
    z-index: 9999;
    font-size: 13px;
}
.logojs{
    position:absolute;
    z-index: 999;
    width: 5px;
    bottom: 100px;
    right: 200px;
}
.ecranpop{
    position:absolute;
    width: 50px;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 100em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}