@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Amalfi Coast';
  src: url('../fonts/Amalfi\ Coast.ttf');
  /* font-display: initial; */
}

body {
  /* padding-top: 3rem; */
  font-size: 1.5rem;
  opacity: 1;
}

header {
  font-family: 'Economica', sans-serif;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0) !important;
}

.nav-link {
  color: rgb(116, 109, 109);
  font-size: 1.5rem;
  /* padding: 60px;*/
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #aeaaaa;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1.5rem;
  margin-top: 50px;
}

#tiana {
  float: left;
  top: 0;
  right: 0;
  z-index: 999;
}

#accueil,
#profil,
#portfolio,
#competences,
#contact {
  height: 100vh;
}

#accueil,
#portfolio,
#contact, #cv {
  background: #000;
}

#accueil {
  background-image: url('../images/tiana.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 0% right 0%;
}
.QuiSuiJe {
  color: #000;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 929px 992px #FFF , 123px 1224px #FFF , 636px 872px #FFF , 132px 446px #FFF , 1814px 1857px #FFF , 1022px 20px #FFF , 1096px 1513px #FFF , 1974px 515px #FFF , 518px 1516px #FFF , 310px 920px #FFF , 1234px 1890px #FFF , 662px 84px #FFF , 799px 387px #FFF , 168px 1536px #FFF , 178px 1631px #FFF , 1834px 1507px #FFF , 676px 664px #FFF , 788px 1441px #FFF , 1002px 250px #FFF , 1637px 1241px #FFF , 1182px 619px #FFF , 93px 711px #FFF , 1243px 266px #FFF , 203px 884px #FFF , 639px 740px #FFF , 1406px 1559px #FFF , 1258px 1413px #FFF , 978px 509px #FFF , 1760px 170px #FFF , 1905px 103px #FFF , 1093px 1336px #FFF , 522px 128px #FFF , 614px 149px #FFF , 1301px 1389px #FFF , 1057px 724px #FFF , 1717px 1551px #FFF , 34px 1072px #FFF , 753px 1008px #FFF , 1059px 1798px #FFF , 1513px 1158px #FFF , 417px 40px #FFF , 1327px 1712px #FFF , 1650px 1584px #FFF , 1892px 809px #FFF , 599px 1244px #FFF , 113px 763px #FFF , 179px 302px #FFF , 989px 1248px #FFF , 771px 1982px #FFF , 297px 546px #FFF , 1805px 1098px #FFF , 783px 1096px #FFF , 201px 928px #FFF , 405px 570px #FFF , 233px 1370px #FFF , 746px 1073px #FFF , 384px 135px #FFF , 82px 1498px #FFF , 955px 459px #FFF , 855px 522px #FFF , 1638px 1519px #FFF , 1213px 803px #FFF , 1361px 1094px #FFF , 1337px 1601px #FFF , 1052px 174px #FFF , 1193px 1648px #FFF , 1560px 1637px #FFF , 280px 1779px #FFF , 1102px 1605px #FFF , 202px 1952px #FFF , 829px 1695px #FFF , 1380px 257px #FFF , 1555px 603px #FFF , 1549px 1907px #FFF , 1758px 1782px #FFF , 1095px 1189px #FFF , 834px 1458px #FFF , 1149px 1896px #FFF , 946px 1929px #FFF , 145px 1117px #FFF , 1357px 1636px #FFF , 1046px 1905px #FFF , 733px 437px #FFF , 1337px 1721px #FFF , 1794px 1747px #FFF , 884px 859px #FFF , 647px 1951px #FFF , 1075px 1963px #FFF , 289px 42px #FFF , 1795px 918px #FFF , 1075px 1089px #FFF , 1384px 1210px #FFF , 917px 867px #FFF , 108px 1591px #FFF , 880px 1572px #FFF , 22px 637px #FFF , 1318px 1448px #FFF , 1459px 228px #FFF , 623px 1010px #FFF , 904px 67px #FFF , 1722px 1528px #FFF , 1208px 166px #FFF , 1932px 1162px #FFF , 590px 1706px #FFF , 576px 1771px #FFF , 128px 1082px #FFF , 1901px 1830px #FFF , 1528px 265px #FFF , 295px 113px #FFF , 1500px 990px #FFF , 349px 1123px #FFF , 935px 1926px #FFF , 61px 372px #FFF , 1103px 195px #FFF , 1023px 1444px #FFF , 1078px 1516px #FFF , 395px 1921px #FFF , 248px 199px #FFF , 1010px 1536px #FFF , 581px 1573px #FFF , 1724px 1992px #FFF , 560px 648px #FFF , 596px 197px #FFF , 1061px 1623px #FFF , 662px 1598px #FFF , 229px 1094px #FFF , 1277px 1771px #FFF , 665px 386px #FFF , 831px 445px #FFF , 90px 1613px #FFF , 1352px 1335px #FFF , 212px 1199px #FFF , 1847px 469px #FFF , 30px 1952px #FFF , 1796px 776px #FFF , 176px 1527px #FFF , 446px 510px #FFF , 286px 1038px #FFF , 618px 1186px #FFF , 667px 1489px #FFF , 1979px 715px #FFF , 1006px 261px #FFF , 874px 1571px #FFF , 185px 282px #FFF , 1473px 396px #FFF , 1202px 463px #FFF , 324px 1744px #FFF , 1140px 894px #FFF , 462px 89px #FFF , 1399px 1721px #FFF , 1062px 705px #FFF , 1277px 1065px #FFF , 221px 1095px #FFF , 1525px 1451px #FFF , 1865px 191px #FFF , 336px 864px #FFF , 1480px 911px #FFF , 32px 586px #FFF , 774px 837px #FFF , 1684px 1195px #FFF , 1223px 1509px #FFF , 227px 1251px #FFF , 1398px 1419px #FFF , 1803px 588px #FFF , 1054px 1851px #FFF , 817px 848px #FFF , 555px 136px #FFF , 17px 1614px #FFF , 1923px 429px #FFF , 1984px 1672px #FFF , 1916px 953px #FFF , 693px 257px #FFF , 1709px 696px #FFF , 465px 844px #FFF , 1030px 635px #FFF , 491px 991px #FFF , 1604px 1367px #FFF , 1732px 1952px #FFF , 973px 1535px #FFF , 772px 1730px #FFF , 1144px 15px #FFF , 87px 1622px #FFF , 960px 1428px #FFF , 1196px 253px #FFF , 1173px 1888px #FFF , 1324px 1866px #FFF , 1471px 246px #FFF , 868px 1791px #FFF , 1455px 692px #FFF , 656px 1387px #FFF , 471px 300px #FFF , 1162px 908px #FFF , 1305px 1856px #FFF , 1892px 1146px #FFF , 1158px 1529px #FFF , 1560px 806px #FFF , 1147px 491px #FFF , 1493px 1269px #FFF , 623px 899px #FFF , 831px 1114px #FFF , 652px 412px #FFF , 246px 680px #FFF , 923px 1255px #FFF , 1425px 1492px #FFF , 244px 1998px #FFF , 1887px 1608px #FFF , 76px 1180px #FFF , 1913px 934px #FFF , 639px 1257px #FFF , 1762px 309px #FFF , 1230px 748px #FFF , 550px 1470px #FFF , 398px 1334px #FFF , 101px 1386px #FFF , 1449px 237px #FFF , 823px 837px #FFF , 1465px 896px #FFF , 645px 1716px #FFF , 404px 436px #FFF , 1392px 755px #FFF , 320px 1326px #FFF , 1126px 1005px #FFF , 836px 1574px #FFF , 1769px 631px #FFF , 1260px 132px #FFF , 1678px 69px #FFF , 1189px 1300px #FFF , 1717px 1801px #FFF , 164px 1987px #FFF , 1416px 1925px #FFF , 1372px 1652px #FFF , 312px 886px #FFF , 1594px 667px #FFF , 457px 1831px #FFF , 684px 1200px #FFF , 747px 1927px #FFF , 1612px 442px #FFF , 1542px 228px #FFF , 1043px 107px #FFF , 1615px 747px #FFF , 1617px 981px #FFF , 1816px 1353px #FFF , 87px 1387px #FFF , 952px 1332px #FFF , 551px 1383px #FFF , 1691px 1609px #FFF , 438px 889px #FFF , 521px 511px #FFF , 551px 513px #FFF , 57px 1242px #FFF , 1660px 48px #FFF , 1481px 1710px #FFF , 1007px 1757px #FFF , 805px 1739px #FFF , 1689px 1768px #FFF , 36px 1553px #FFF , 1062px 118px #FFF , 1845px 166px #FFF , 603px 1307px #FFF , 451px 1201px #FFF , 31px 273px #FFF , 1457px 179px #FFF , 1364px 1635px #FFF , 656px 1924px #FFF , 222px 39px #FFF , 202px 1363px #FFF , 878px 816px #FFF , 1763px 1483px #FFF , 1397px 192px #FFF , 320px 1270px #FFF , 762px 1288px #FFF , 295px 737px #FFF , 928px 440px #FFF , 1044px 1051px #FFF , 538px 89px #FFF , 960px 1309px #FFF , 1409px 304px #FFF , 1093px 1692px #FFF , 1468px 854px #FFF , 1039px 712px #FFF , 52px 401px #FFF , 886px 113px #FFF , 734px 935px #FFF , 816px 9px #FFF , 271px 304px #FFF , 1945px 1611px #FFF , 243px 1416px #FFF , 1235px 1592px #FFF , 248px 97px #FFF , 1103px 1127px #FFF , 1013px 1510px #FFF , 1163px 92px #FFF , 1920px 1268px #FFF , 855px 1183px #FFF , 671px 309px #FFF , 333px 1524px #FFF , 705px 1098px #FFF , 568px 1029px #FFF , 692px 191px #FFF , 747px 485px #FFF , 759px 1632px #FFF , 1049px 1051px #FFF , 1857px 1810px #FFF , 475px 857px #FFF , 858px 1682px #FFF , 1666px 1432px #FFF , 1486px 1135px #FFF , 1048px 1763px #FFF , 972px 1365px #FFF , 1439px 680px #FFF , 1804px 1055px #FFF , 1883px 1216px #FFF , 546px 1544px #FFF , 1886px 101px #FFF , 657px 249px #FFF , 193px 1941px #FFF , 1761px 378px #FFF , 580px 1752px #FFF , 1314px 1722px #FFF , 146px 323px #FFF , 1342px 402px #FFF , 1671px 428px #FFF , 40px 997px #FFF , 9px 824px #FFF , 1327px 539px #FFF , 635px 594px #FFF , 628px 1325px #FFF , 1051px 1104px #FFF , 1075px 316px #FFF , 513px 7px #FFF , 1687px 1641px #FFF , 1603px 798px #FFF , 1288px 740px #FFF , 834px 1643px #FFF , 994px 858px #FFF , 1595px 221px #FFF , 1862px 192px #FFF , 135px 1610px #FFF , 746px 1832px #FFF , 210px 351px #FFF , 148px 1899px #FFF , 955px 582px #FFF , 154px 1534px #FFF , 1528px 1559px #FFF , 1227px 1907px #FFF , 402px 1276px #FFF , 1917px 1493px #FFF , 1071px 224px #FFF , 698px 100px #FFF , 696px 250px #FFF , 10px 462px #FFF , 1909px 1590px #FFF , 747px 1751px #FFF , 1169px 1974px #FFF , 75px 1034px #FFF , 344px 1243px #FFF , 80px 1347px #FFF , 271px 495px #FFF , 1430px 1268px #FFF , 173px 481px #FFF , 1941px 917px #FFF , 1579px 737px #FFF , 1206px 1841px #FFF , 1815px 1976px #FFF , 1528px 549px #FFF , 1885px 142px #FFF , 1073px 1020px #FFF , 721px 312px #FFF , 1672px 560px #FFF , 1581px 9px #FFF , 45px 896px #FFF , 1000px 1094px #FFF , 577px 1523px #FFF , 78px 1241px #FFF , 50px 1733px #FFF , 1034px 1640px #FFF , 1114px 1919px #FFF , 51px 617px #FFF , 1968px 1377px #FFF , 1421px 135px #FFF , 685px 1308px #FFF , 1738px 1282px #FFF , 64px 1321px #FFF , 1320px 1479px #FFF , 437px 422px #FFF , 442px 1825px #FFF , 112px 759px #FFF , 359px 1594px #FFF , 1016px 300px #FFF , 1557px 277px #FFF , 1929px 1670px #FFF , 682px 1338px #FFF , 1677px 1035px #FFF , 818px 289px #FFF , 427px 84px #FFF , 227px 52px #FFF , 1058px 1680px #FFF , 241px 647px #FFF , 1503px 80px #FFF , 754px 110px #FFF , 1787px 419px #FFF , 1297px 617px #FFF , 359px 1375px #FFF , 1993px 613px #FFF , 1209px 1734px #FFF , 1037px 1671px #FFF , 1099px 1841px #FFF , 936px 1740px #FFF , 1403px 1066px #FFF , 428px 1831px #FFF , 215px 1100px #FFF , 873px 1172px #FFF , 175px 1149px #FFF , 1587px 89px #FFF , 1502px 389px #FFF , 477px 366px #FFF , 1523px 1660px #FFF , 578px 258px #FFF , 646px 738px #FFF , 1512px 375px #FFF , 1507px 933px #FFF , 1351px 1601px #FFF , 1471px 375px #FFF , 513px 1203px #FFF , 39px 1417px #FFF , 49px 955px #FFF , 764px 71px #FFF , 374px 1979px #FFF , 1668px 1304px #FFF , 359px 209px #FFF , 722px 858px #FFF , 1006px 1689px #FFF , 44px 527px #FFF , 982px 83px #FFF , 1196px 1058px #FFF , 858px 1336px #FFF , 1780px 91px #FFF , 634px 2000px #FFF , 1853px 1317px #FFF , 1560px 747px #FFF , 543px 1435px #FFF , 1031px 1279px #FFF , 1755px 392px #FFF , 1912px 231px #FFF , 433px 1566px #FFF , 8px 453px #FFF , 1917px 1724px #FFF , 1293px 87px #FFF , 459px 1353px #FFF , 1032px 161px #FFF , 1541px 423px #FFF , 1504px 1281px #FFF , 189px 1926px #FFF , 769px 369px #FFF , 1533px 1455px #FFF , 310px 1375px #FFF , 1336px 430px #FFF , 1530px 137px #FFF , 1082px 970px #FFF , 1615px 1657px #FFF , 1736px 604px #FFF , 989px 639px #FFF , 837px 1753px #FFF , 1015px 1386px #FFF , 597px 898px #FFF , 182px 1716px #FFF , 1278px 378px #FFF , 794px 422px #FFF , 1359px 1672px #FFF , 1963px 1067px #FFF , 724px 312px #FFF , 1016px 640px #FFF , 699px 73px #FFF , 1801px 112px #FFF , 1112px 639px #FFF , 1841px 1207px #FFF , 1881px 1046px #FFF , 345px 1066px #FFF , 15px 1295px #FFF , 1398px 1236px #FFF , 1950px 1976px #FFF , 1677px 528px #FFF , 1597px 1367px #FFF , 1669px 943px #FFF , 1839px 1637px #FFF , 1007px 970px #FFF , 858px 1614px #FFF , 1650px 1392px #FFF , 42px 1713px #FFF , 122px 861px #FFF , 1887px 1674px #FFF , 1469px 1399px #FFF , 1000px 1368px #FFF , 980px 684px #FFF , 1945px 1043px #FFF , 134px 163px #FFF , 744px 1723px #FFF , 1061px 1910px #FFF , 1588px 1762px #FFF , 743px 1322px #FFF , 737px 807px #FFF , 1988px 633px #FFF , 427px 310px #FFF , 1323px 1090px #FFF , 552px 390px #FFF , 99px 514px #FFF , 1250px 180px #FFF , 1453px 1936px #FFF , 981px 1658px #FFF , 307px 1014px #FFF , 1785px 970px #FFF , 203px 848px #FFF , 1103px 1560px #FFF , 1370px 200px #FFF , 73px 1646px #FFF , 1248px 1781px #FFF , 677px 1731px #FFF , 870px 776px #FFF , 40px 1317px #FFF , 602px 329px #FFF , 352px 353px #FFF , 383px 1463px #FFF , 1857px 1640px #FFF , 1933px 54px #FFF , 641px 37px #FFF , 1213px 1539px #FFF , 176px 1963px #FFF , 729px 953px #FFF , 362px 1805px #FFF , 1078px 1874px #FFF , 190px 1049px #FFF , 1727px 1044px #FFF , 1733px 712px #FFF , 790px 1715px #FFF , 1543px 236px #FFF , 64px 1645px #FFF , 1858px 61px #FFF , 1237px 1430px #FFF , 1099px 24px #FFF , 137px 1835px #FFF , 1501px 1348px #FFF , 1222px 626px #FFF , 1565px 1841px #FFF , 309px 1399px #FFF , 977px 333px #FFF , 841px 108px #FFF , 195px 1633px #FFF , 1874px 1634px #FFF , 436px 1443px #FFF , 1112px 995px #FFF , 645px 1130px #FFF , 963px 1786px #FFF , 608px 825px #FFF , 1446px 1780px #FFF , 362px 937px #FFF , 1873px 645px #FFF , 305px 215px #FFF , 1471px 620px #FFF , 1008px 713px #FFF , 1495px 1754px #FFF , 1274px 744px #FFF , 67px 612px #FFF , 1342px 202px #FFF , 1719px 1980px #FFF , 1591px 619px #FFF , 143px 290px #FFF , 59px 1401px #FFF , 1322px 949px #FFF , 1001px 1649px #FFF , 573px 1081px #FFF , 650px 507px #FFF , 114px 464px #FFF , 1632px 1582px #FFF , 1457px 964px #FFF , 350px 1439px #FFF , 1339px 1901px #FFF , 1674px 1744px #FFF , 286px 388px #FFF , 196px 192px #FFF , 292px 810px #FFF , 304px 1151px #FFF , 1707px 274px #FFF , 524px 309px #FFF , 1273px 189px #FFF , 67px 173px #FFF , 980px 26px #FFF , 1166px 626px #FFF , 509px 1594px #FFF , 1782px 393px #FFF , 1599px 1284px #FFF , 336px 1656px #FFF , 364px 1034px #FFF , 1228px 293px #FFF , 61px 1611px #FFF , 1726px 890px #FFF , 1278px 708px #FFF , 738px 1262px #FFF , 947px 852px #FFF , 667px 1263px #FFF , 1570px 273px #FFF , 395px 1141px #FFF , 1420px 316px #FFF , 1950px 578px #FFF , 1428px 235px #FFF , 1459px 1537px #FFF , 1628px 1113px #FFF , 1141px 1515px #FFF , 147px 86px #FFF , 1908px 1936px #FFF , 1785px 1582px #FFF , 1200px 16px #FFF , 1110px 842px #FFF , 1242px 679px #FFF , 474px 479px #FFF , 1898px 1602px #FFF , 331px 1636px #FFF , 1575px 262px #FFF , 1905px 112px #FFF , 387px 1724px #FFF , 1368px 601px #FFF , 286px 1987px #FFF , 357px 1885px #FFF , 942px 766px #FFF , 649px 1648px #FFF , 1923px 1211px #FFF , 117px 1288px #FFF , 176px 416px #FFF , 746px 1789px #FFF , 407px 566px #FFF , 1734px 1320px #FFF , 404px 118px #FFF , 803px 510px #FFF , 687px 1700px #FFF , 1910px 596px #FFF , 1727px 1834px #FFF , 1324px 417px #FFF , 1030px 1352px #FFF , 1825px 325px #FFF , 1947px 711px #FFF , 1697px 1423px #FFF , 1810px 1608px #FFF , 1858px 716px #FFF , 1944px 317px #FFF , 1126px 941px #FFF , 1877px 1234px #FFF , 1038px 1003px #FFF , 579px 356px #FFF , 162px 141px #FFF , 1264px 330px #FFF , 1186px 809px #FFF , 848px 1583px #FFF , 202px 500px #FFF , 1275px 1956px #FFF , 1303px 1470px #FFF , 811px 833px #FFF , 950px 1444px #FFF , 319px 1704px #FFF , 865px 608px #FFF , 446px 805px #FFF , 343px 538px #FFF , 877px 1337px #FFF , 641px 375px #FFF , 830px 652px #FFF , 841px 1504px #FFF , 36px 741px #FFF , 1279px 1413px #FFF , 587px 1845px #FFF , 575px 274px #FFF , 1781px 1460px #FFF , 44px 667px #FFF , 1326px 1608px #FFF , 1561px 866px #FFF , 1545px 508px #FFF , 1575px 324px #FFF , 1509px 613px #FFF , 1530px 1155px #FFF , 426px 620px #FFF , 1324px 839px #FFF , 316px 359px #FFF , 1869px 90px #FFF , 1375px 1398px #FFF , 1338px 208px #FFF , 105px 311px #FFF , 982px 1267px #FFF , 1720px 355px #FFF , 321px 1386px #FFF , 546px 1870px #FFF , 856px 591px #FFF , 300px 1873px #FFF , 560px 634px #FFF , 357px 1462px #FFF , 805px 704px #FFF , 952px 97px #FFF , 1948px 1568px #FFF , 1397px 104px #FFF , 1188px 1079px #FFF , 1839px 1483px #FFF , 1633px 600px #FFF , 1933px 1624px #FFF , 993px 1292px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 929px 992px #FFF , 123px 1224px #FFF , 636px 872px #FFF , 132px 446px #FFF , 1814px 1857px #FFF , 1022px 20px #FFF , 1096px 1513px #FFF , 1974px 515px #FFF , 518px 1516px #FFF , 310px 920px #FFF , 1234px 1890px #FFF , 662px 84px #FFF , 799px 387px #FFF , 168px 1536px #FFF , 178px 1631px #FFF , 1834px 1507px #FFF , 676px 664px #FFF , 788px 1441px #FFF , 1002px 250px #FFF , 1637px 1241px #FFF , 1182px 619px #FFF , 93px 711px #FFF , 1243px 266px #FFF , 203px 884px #FFF , 639px 740px #FFF , 1406px 1559px #FFF , 1258px 1413px #FFF , 978px 509px #FFF , 1760px 170px #FFF , 1905px 103px #FFF , 1093px 1336px #FFF , 522px 128px #FFF , 614px 149px #FFF , 1301px 1389px #FFF , 1057px 724px #FFF , 1717px 1551px #FFF , 34px 1072px #FFF , 753px 1008px #FFF , 1059px 1798px #FFF , 1513px 1158px #FFF , 417px 40px #FFF , 1327px 1712px #FFF , 1650px 1584px #FFF , 1892px 809px #FFF , 599px 1244px #FFF , 113px 763px #FFF , 179px 302px #FFF , 989px 1248px #FFF , 771px 1982px #FFF , 297px 546px #FFF , 1805px 1098px #FFF , 783px 1096px #FFF , 201px 928px #FFF , 405px 570px #FFF , 233px 1370px #FFF , 746px 1073px #FFF , 384px 135px #FFF , 82px 1498px #FFF , 955px 459px #FFF , 855px 522px #FFF , 1638px 1519px #FFF , 1213px 803px #FFF , 1361px 1094px #FFF , 1337px 1601px #FFF , 1052px 174px #FFF , 1193px 1648px #FFF , 1560px 1637px #FFF , 280px 1779px #FFF , 1102px 1605px #FFF , 202px 1952px #FFF , 829px 1695px #FFF , 1380px 257px #FFF , 1555px 603px #FFF , 1549px 1907px #FFF , 1758px 1782px #FFF , 1095px 1189px #FFF , 834px 1458px #FFF , 1149px 1896px #FFF , 946px 1929px #FFF , 145px 1117px #FFF , 1357px 1636px #FFF , 1046px 1905px #FFF , 733px 437px #FFF , 1337px 1721px #FFF , 1794px 1747px #FFF , 884px 859px #FFF , 647px 1951px #FFF , 1075px 1963px #FFF , 289px 42px #FFF , 1795px 918px #FFF , 1075px 1089px #FFF , 1384px 1210px #FFF , 917px 867px #FFF , 108px 1591px #FFF , 880px 1572px #FFF , 22px 637px #FFF , 1318px 1448px #FFF , 1459px 228px #FFF , 623px 1010px #FFF , 904px 67px #FFF , 1722px 1528px #FFF , 1208px 166px #FFF , 1932px 1162px #FFF , 590px 1706px #FFF , 576px 1771px #FFF , 128px 1082px #FFF , 1901px 1830px #FFF , 1528px 265px #FFF , 295px 113px #FFF , 1500px 990px #FFF , 349px 1123px #FFF , 935px 1926px #FFF , 61px 372px #FFF , 1103px 195px #FFF , 1023px 1444px #FFF , 1078px 1516px #FFF , 395px 1921px #FFF , 248px 199px #FFF , 1010px 1536px #FFF , 581px 1573px #FFF , 1724px 1992px #FFF , 560px 648px #FFF , 596px 197px #FFF , 1061px 1623px #FFF , 662px 1598px #FFF , 229px 1094px #FFF , 1277px 1771px #FFF , 665px 386px #FFF , 831px 445px #FFF , 90px 1613px #FFF , 1352px 1335px #FFF , 212px 1199px #FFF , 1847px 469px #FFF , 30px 1952px #FFF , 1796px 776px #FFF , 176px 1527px #FFF , 446px 510px #FFF , 286px 1038px #FFF , 618px 1186px #FFF , 667px 1489px #FFF , 1979px 715px #FFF , 1006px 261px #FFF , 874px 1571px #FFF , 185px 282px #FFF , 1473px 396px #FFF , 1202px 463px #FFF , 324px 1744px #FFF , 1140px 894px #FFF , 462px 89px #FFF , 1399px 1721px #FFF , 1062px 705px #FFF , 1277px 1065px #FFF , 221px 1095px #FFF , 1525px 1451px #FFF , 1865px 191px #FFF , 336px 864px #FFF , 1480px 911px #FFF , 32px 586px #FFF , 774px 837px #FFF , 1684px 1195px #FFF , 1223px 1509px #FFF , 227px 1251px #FFF , 1398px 1419px #FFF , 1803px 588px #FFF , 1054px 1851px #FFF , 817px 848px #FFF , 555px 136px #FFF , 17px 1614px #FFF , 1923px 429px #FFF , 1984px 1672px #FFF , 1916px 953px #FFF , 693px 257px #FFF , 1709px 696px #FFF , 465px 844px #FFF , 1030px 635px #FFF , 491px 991px #FFF , 1604px 1367px #FFF , 1732px 1952px #FFF , 973px 1535px #FFF , 772px 1730px #FFF , 1144px 15px #FFF , 87px 1622px #FFF , 960px 1428px #FFF , 1196px 253px #FFF , 1173px 1888px #FFF , 1324px 1866px #FFF , 1471px 246px #FFF , 868px 1791px #FFF , 1455px 692px #FFF , 656px 1387px #FFF , 471px 300px #FFF , 1162px 908px #FFF , 1305px 1856px #FFF , 1892px 1146px #FFF , 1158px 1529px #FFF , 1560px 806px #FFF , 1147px 491px #FFF , 1493px 1269px #FFF , 623px 899px #FFF , 831px 1114px #FFF , 652px 412px #FFF , 246px 680px #FFF , 923px 1255px #FFF , 1425px 1492px #FFF , 244px 1998px #FFF , 1887px 1608px #FFF , 76px 1180px #FFF , 1913px 934px #FFF , 639px 1257px #FFF , 1762px 309px #FFF , 1230px 748px #FFF , 550px 1470px #FFF , 398px 1334px #FFF , 101px 1386px #FFF , 1449px 237px #FFF , 823px 837px #FFF , 1465px 896px #FFF , 645px 1716px #FFF , 404px 436px #FFF , 1392px 755px #FFF , 320px 1326px #FFF , 1126px 1005px #FFF , 836px 1574px #FFF , 1769px 631px #FFF , 1260px 132px #FFF , 1678px 69px #FFF , 1189px 1300px #FFF , 1717px 1801px #FFF , 164px 1987px #FFF , 1416px 1925px #FFF , 1372px 1652px #FFF , 312px 886px #FFF , 1594px 667px #FFF , 457px 1831px #FFF , 684px 1200px #FFF , 747px 1927px #FFF , 1612px 442px #FFF , 1542px 228px #FFF , 1043px 107px #FFF , 1615px 747px #FFF , 1617px 981px #FFF , 1816px 1353px #FFF , 87px 1387px #FFF , 952px 1332px #FFF , 551px 1383px #FFF , 1691px 1609px #FFF , 438px 889px #FFF , 521px 511px #FFF , 551px 513px #FFF , 57px 1242px #FFF , 1660px 48px #FFF , 1481px 1710px #FFF , 1007px 1757px #FFF , 805px 1739px #FFF , 1689px 1768px #FFF , 36px 1553px #FFF , 1062px 118px #FFF , 1845px 166px #FFF , 603px 1307px #FFF , 451px 1201px #FFF , 31px 273px #FFF , 1457px 179px #FFF , 1364px 1635px #FFF , 656px 1924px #FFF , 222px 39px #FFF , 202px 1363px #FFF , 878px 816px #FFF , 1763px 1483px #FFF , 1397px 192px #FFF , 320px 1270px #FFF , 762px 1288px #FFF , 295px 737px #FFF , 928px 440px #FFF , 1044px 1051px #FFF , 538px 89px #FFF , 960px 1309px #FFF , 1409px 304px #FFF , 1093px 1692px #FFF , 1468px 854px #FFF , 1039px 712px #FFF , 52px 401px #FFF , 886px 113px #FFF , 734px 935px #FFF , 816px 9px #FFF , 271px 304px #FFF , 1945px 1611px #FFF , 243px 1416px #FFF , 1235px 1592px #FFF , 248px 97px #FFF , 1103px 1127px #FFF , 1013px 1510px #FFF , 1163px 92px #FFF , 1920px 1268px #FFF , 855px 1183px #FFF , 671px 309px #FFF , 333px 1524px #FFF , 705px 1098px #FFF , 568px 1029px #FFF , 692px 191px #FFF , 747px 485px #FFF , 759px 1632px #FFF , 1049px 1051px #FFF , 1857px 1810px #FFF , 475px 857px #FFF , 858px 1682px #FFF , 1666px 1432px #FFF , 1486px 1135px #FFF , 1048px 1763px #FFF , 972px 1365px #FFF , 1439px 680px #FFF , 1804px 1055px #FFF , 1883px 1216px #FFF , 546px 1544px #FFF , 1886px 101px #FFF , 657px 249px #FFF , 193px 1941px #FFF , 1761px 378px #FFF , 580px 1752px #FFF , 1314px 1722px #FFF , 146px 323px #FFF , 1342px 402px #FFF , 1671px 428px #FFF , 40px 997px #FFF , 9px 824px #FFF , 1327px 539px #FFF , 635px 594px #FFF , 628px 1325px #FFF , 1051px 1104px #FFF , 1075px 316px #FFF , 513px 7px #FFF , 1687px 1641px #FFF , 1603px 798px #FFF , 1288px 740px #FFF , 834px 1643px #FFF , 994px 858px #FFF , 1595px 221px #FFF , 1862px 192px #FFF , 135px 1610px #FFF , 746px 1832px #FFF , 210px 351px #FFF , 148px 1899px #FFF , 955px 582px #FFF , 154px 1534px #FFF , 1528px 1559px #FFF , 1227px 1907px #FFF , 402px 1276px #FFF , 1917px 1493px #FFF , 1071px 224px #FFF , 698px 100px #FFF , 696px 250px #FFF , 10px 462px #FFF , 1909px 1590px #FFF , 747px 1751px #FFF , 1169px 1974px #FFF , 75px 1034px #FFF , 344px 1243px #FFF , 80px 1347px #FFF , 271px 495px #FFF , 1430px 1268px #FFF , 173px 481px #FFF , 1941px 917px #FFF , 1579px 737px #FFF , 1206px 1841px #FFF , 1815px 1976px #FFF , 1528px 549px #FFF , 1885px 142px #FFF , 1073px 1020px #FFF , 721px 312px #FFF , 1672px 560px #FFF , 1581px 9px #FFF , 45px 896px #FFF , 1000px 1094px #FFF , 577px 1523px #FFF , 78px 1241px #FFF , 50px 1733px #FFF , 1034px 1640px #FFF , 1114px 1919px #FFF , 51px 617px #FFF , 1968px 1377px #FFF , 1421px 135px #FFF , 685px 1308px #FFF , 1738px 1282px #FFF , 64px 1321px #FFF , 1320px 1479px #FFF , 437px 422px #FFF , 442px 1825px #FFF , 112px 759px #FFF , 359px 1594px #FFF , 1016px 300px #FFF , 1557px 277px #FFF , 1929px 1670px #FFF , 682px 1338px #FFF , 1677px 1035px #FFF , 818px 289px #FFF , 427px 84px #FFF , 227px 52px #FFF , 1058px 1680px #FFF , 241px 647px #FFF , 1503px 80px #FFF , 754px 110px #FFF , 1787px 419px #FFF , 1297px 617px #FFF , 359px 1375px #FFF , 1993px 613px #FFF , 1209px 1734px #FFF , 1037px 1671px #FFF , 1099px 1841px #FFF , 936px 1740px #FFF , 1403px 1066px #FFF , 428px 1831px #FFF , 215px 1100px #FFF , 873px 1172px #FFF , 175px 1149px #FFF , 1587px 89px #FFF , 1502px 389px #FFF , 477px 366px #FFF , 1523px 1660px #FFF , 578px 258px #FFF , 646px 738px #FFF , 1512px 375px #FFF , 1507px 933px #FFF , 1351px 1601px #FFF , 1471px 375px #FFF , 513px 1203px #FFF , 39px 1417px #FFF , 49px 955px #FFF , 764px 71px #FFF , 374px 1979px #FFF , 1668px 1304px #FFF , 359px 209px #FFF , 722px 858px #FFF , 1006px 1689px #FFF , 44px 527px #FFF , 982px 83px #FFF , 1196px 1058px #FFF , 858px 1336px #FFF , 1780px 91px #FFF , 634px 2000px #FFF , 1853px 1317px #FFF , 1560px 747px #FFF , 543px 1435px #FFF , 1031px 1279px #FFF , 1755px 392px #FFF , 1912px 231px #FFF , 433px 1566px #FFF , 8px 453px #FFF , 1917px 1724px #FFF , 1293px 87px #FFF , 459px 1353px #FFF , 1032px 161px #FFF , 1541px 423px #FFF , 1504px 1281px #FFF , 189px 1926px #FFF , 769px 369px #FFF , 1533px 1455px #FFF , 310px 1375px #FFF , 1336px 430px #FFF , 1530px 137px #FFF , 1082px 970px #FFF , 1615px 1657px #FFF , 1736px 604px #FFF , 989px 639px #FFF , 837px 1753px #FFF , 1015px 1386px #FFF , 597px 898px #FFF , 182px 1716px #FFF , 1278px 378px #FFF , 794px 422px #FFF , 1359px 1672px #FFF , 1963px 1067px #FFF , 724px 312px #FFF , 1016px 640px #FFF , 699px 73px #FFF , 1801px 112px #FFF , 1112px 639px #FFF , 1841px 1207px #FFF , 1881px 1046px #FFF , 345px 1066px #FFF , 15px 1295px #FFF , 1398px 1236px #FFF , 1950px 1976px #FFF , 1677px 528px #FFF , 1597px 1367px #FFF , 1669px 943px #FFF , 1839px 1637px #FFF , 1007px 970px #FFF , 858px 1614px #FFF , 1650px 1392px #FFF , 42px 1713px #FFF , 122px 861px #FFF , 1887px 1674px #FFF , 1469px 1399px #FFF , 1000px 1368px #FFF , 980px 684px #FFF , 1945px 1043px #FFF , 134px 163px #FFF , 744px 1723px #FFF , 1061px 1910px #FFF , 1588px 1762px #FFF , 743px 1322px #FFF , 737px 807px #FFF , 1988px 633px #FFF , 427px 310px #FFF , 1323px 1090px #FFF , 552px 390px #FFF , 99px 514px #FFF , 1250px 180px #FFF , 1453px 1936px #FFF , 981px 1658px #FFF , 307px 1014px #FFF , 1785px 970px #FFF , 203px 848px #FFF , 1103px 1560px #FFF , 1370px 200px #FFF , 73px 1646px #FFF , 1248px 1781px #FFF , 677px 1731px #FFF , 870px 776px #FFF , 40px 1317px #FFF , 602px 329px #FFF , 352px 353px #FFF , 383px 1463px #FFF , 1857px 1640px #FFF , 1933px 54px #FFF , 641px 37px #FFF , 1213px 1539px #FFF , 176px 1963px #FFF , 729px 953px #FFF , 362px 1805px #FFF , 1078px 1874px #FFF , 190px 1049px #FFF , 1727px 1044px #FFF , 1733px 712px #FFF , 790px 1715px #FFF , 1543px 236px #FFF , 64px 1645px #FFF , 1858px 61px #FFF , 1237px 1430px #FFF , 1099px 24px #FFF , 137px 1835px #FFF , 1501px 1348px #FFF , 1222px 626px #FFF , 1565px 1841px #FFF , 309px 1399px #FFF , 977px 333px #FFF , 841px 108px #FFF , 195px 1633px #FFF , 1874px 1634px #FFF , 436px 1443px #FFF , 1112px 995px #FFF , 645px 1130px #FFF , 963px 1786px #FFF , 608px 825px #FFF , 1446px 1780px #FFF , 362px 937px #FFF , 1873px 645px #FFF , 305px 215px #FFF , 1471px 620px #FFF , 1008px 713px #FFF , 1495px 1754px #FFF , 1274px 744px #FFF , 67px 612px #FFF , 1342px 202px #FFF , 1719px 1980px #FFF , 1591px 619px #FFF , 143px 290px #FFF , 59px 1401px #FFF , 1322px 949px #FFF , 1001px 1649px #FFF , 573px 1081px #FFF , 650px 507px #FFF , 114px 464px #FFF , 1632px 1582px #FFF , 1457px 964px #FFF , 350px 1439px #FFF , 1339px 1901px #FFF , 1674px 1744px #FFF , 286px 388px #FFF , 196px 192px #FFF , 292px 810px #FFF , 304px 1151px #FFF , 1707px 274px #FFF , 524px 309px #FFF , 1273px 189px #FFF , 67px 173px #FFF , 980px 26px #FFF , 1166px 626px #FFF , 509px 1594px #FFF , 1782px 393px #FFF , 1599px 1284px #FFF , 336px 1656px #FFF , 364px 1034px #FFF , 1228px 293px #FFF , 61px 1611px #FFF , 1726px 890px #FFF , 1278px 708px #FFF , 738px 1262px #FFF , 947px 852px #FFF , 667px 1263px #FFF , 1570px 273px #FFF , 395px 1141px #FFF , 1420px 316px #FFF , 1950px 578px #FFF , 1428px 235px #FFF , 1459px 1537px #FFF , 1628px 1113px #FFF , 1141px 1515px #FFF , 147px 86px #FFF , 1908px 1936px #FFF , 1785px 1582px #FFF , 1200px 16px #FFF , 1110px 842px #FFF , 1242px 679px #FFF , 474px 479px #FFF , 1898px 1602px #FFF , 331px 1636px #FFF , 1575px 262px #FFF , 1905px 112px #FFF , 387px 1724px #FFF , 1368px 601px #FFF , 286px 1987px #FFF , 357px 1885px #FFF , 942px 766px #FFF , 649px 1648px #FFF , 1923px 1211px #FFF , 117px 1288px #FFF , 176px 416px #FFF , 746px 1789px #FFF , 407px 566px #FFF , 1734px 1320px #FFF , 404px 118px #FFF , 803px 510px #FFF , 687px 1700px #FFF , 1910px 596px #FFF , 1727px 1834px #FFF , 1324px 417px #FFF , 1030px 1352px #FFF , 1825px 325px #FFF , 1947px 711px #FFF , 1697px 1423px #FFF , 1810px 1608px #FFF , 1858px 716px #FFF , 1944px 317px #FFF , 1126px 941px #FFF , 1877px 1234px #FFF , 1038px 1003px #FFF , 579px 356px #FFF , 162px 141px #FFF , 1264px 330px #FFF , 1186px 809px #FFF , 848px 1583px #FFF , 202px 500px #FFF , 1275px 1956px #FFF , 1303px 1470px #FFF , 811px 833px #FFF , 950px 1444px #FFF , 319px 1704px #FFF , 865px 608px #FFF , 446px 805px #FFF , 343px 538px #FFF , 877px 1337px #FFF , 641px 375px #FFF , 830px 652px #FFF , 841px 1504px #FFF , 36px 741px #FFF , 1279px 1413px #FFF , 587px 1845px #FFF , 575px 274px #FFF , 1781px 1460px #FFF , 44px 667px #FFF , 1326px 1608px #FFF , 1561px 866px #FFF , 1545px 508px #FFF , 1575px 324px #FFF , 1509px 613px #FFF , 1530px 1155px #FFF , 426px 620px #FFF , 1324px 839px #FFF , 316px 359px #FFF , 1869px 90px #FFF , 1375px 1398px #FFF , 1338px 208px #FFF , 105px 311px #FFF , 982px 1267px #FFF , 1720px 355px #FFF , 321px 1386px #FFF , 546px 1870px #FFF , 856px 591px #FFF , 300px 1873px #FFF , 560px 634px #FFF , 357px 1462px #FFF , 805px 704px #FFF , 952px 97px #FFF , 1948px 1568px #FFF , 1397px 104px #FFF , 1188px 1079px #FFF , 1839px 1483px #FFF , 1633px 600px #FFF , 1933px 1624px #FFF , 993px 1292px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1101px 1653px #FFF , 1924px 240px #FFF , 1675px 1379px #FFF , 1630px 1935px #FFF , 1838px 1426px #FFF , 666px 765px #FFF , 469px 573px #FFF , 672px 998px #FFF , 168px 1393px #FFF , 990px 983px #FFF , 553px 251px #FFF , 631px 1097px #FFF , 168px 1254px #FFF , 1767px 866px #FFF , 1909px 1427px #FFF , 1499px 1133px #FFF , 1060px 160px #FFF , 1378px 191px #FFF , 1109px 1304px #FFF , 1125px 9px #FFF , 1913px 241px #FFF , 841px 1683px #FFF , 388px 1860px #FFF , 673px 546px #FFF , 520px 1202px #FFF , 71px 72px #FFF , 574px 1969px #FFF , 732px 802px #FFF , 1879px 1607px #FFF , 1765px 1675px #FFF , 318px 341px #FFF , 1672px 211px #FFF , 2000px 1616px #FFF , 1830px 1516px #FFF , 1926px 1104px #FFF , 1770px 1140px #FFF , 1227px 1997px #FFF , 313px 370px #FFF , 1725px 75px #FFF , 1936px 277px #FFF , 1258px 1165px #FFF , 745px 1318px #FFF , 80px 621px #FFF , 800px 1223px #FFF , 1215px 443px #FFF , 707px 721px #FFF , 876px 1545px #FFF , 1310px 478px #FFF , 1819px 591px #FFF , 183px 1919px #FFF , 835px 1133px #FFF , 485px 717px #FFF , 1849px 1477px #FFF , 1680px 1565px #FFF , 1577px 1351px #FFF , 272px 1390px #FFF , 1559px 582px #FFF , 1276px 1491px #FFF , 1565px 13px #FFF , 1995px 1858px #FFF , 632px 354px #FFF , 194px 133px #FFF , 688px 399px #FFF , 1596px 1525px #FFF , 188px 1765px #FFF , 1465px 446px #FFF , 1648px 5px #FFF , 673px 88px #FFF , 678px 205px #FFF , 934px 263px #FFF , 1318px 380px #FFF , 488px 943px #FFF , 1931px 1897px #FFF , 233px 201px #FFF , 841px 1726px #FFF , 1308px 1198px #FFF , 1721px 1725px #FFF , 324px 1021px #FFF , 1601px 532px #FFF , 882px 790px #FFF , 25px 192px #FFF , 1376px 18px #FFF , 24px 867px #FFF , 1915px 853px #FFF , 1556px 1810px #FFF , 1108px 844px #FFF , 690px 1532px #FFF , 1069px 1047px #FFF , 1787px 576px #FFF , 953px 1635px #FFF , 577px 532px #FFF , 1913px 1241px #FFF , 806px 277px #FFF , 1485px 636px #FFF , 1779px 1266px #FFF , 1356px 125px #FFF , 591px 1528px #FFF , 562px 1509px #FFF , 1407px 1234px #FFF , 883px 1684px #FFF , 748px 1659px #FFF , 95px 544px #FFF , 592px 625px #FFF , 1339px 1449px #FFF , 1983px 206px #FFF , 1139px 196px #FFF , 1216px 868px #FFF , 1292px 1678px #FFF , 373px 650px #FFF , 989px 255px #FFF , 1305px 1425px #FFF , 1075px 1216px #FFF , 1741px 1466px #FFF , 861px 1352px #FFF , 1762px 1724px #FFF , 1160px 193px #FFF , 55px 531px #FFF , 802px 1074px #FFF , 207px 32px #FFF , 1090px 1576px #FFF , 1516px 1401px #FFF , 1495px 1775px #FFF , 456px 404px #FFF , 1025px 565px #FFF , 621px 792px #FFF , 700px 622px #FFF , 98px 163px #FFF , 1000px 126px #FFF , 1416px 360px #FFF , 579px 865px #FFF , 690px 786px #FFF , 955px 786px #FFF , 341px 1215px #FFF , 1010px 72px #FFF , 425px 198px #FFF , 1923px 897px #FFF , 1418px 230px #FFF , 257px 1677px #FFF , 974px 1258px #FFF , 172px 860px #FFF , 1387px 591px #FFF , 490px 791px #FFF , 872px 1514px #FFF , 58px 1941px #FFF , 1042px 997px #FFF , 144px 1132px #FFF , 1959px 1031px #FFF , 211px 523px #FFF , 1965px 590px #FFF , 590px 1096px #FFF , 371px 1554px #FFF , 1584px 586px #FFF , 842px 1724px #FFF , 1375px 134px #FFF , 1779px 643px #FFF , 851px 585px #FFF , 288px 1684px #FFF , 1827px 1819px #FFF , 4px 232px #FFF , 1809px 1109px #FFF , 889px 1634px #FFF , 1967px 1003px #FFF , 636px 735px #FFF , 1802px 1336px #FFF , 1853px 1668px #FFF , 1207px 646px #FFF , 858px 541px #FFF , 602px 751px #FFF , 1335px 1983px #FFF , 411px 185px #FFF , 75px 397px #FFF , 1853px 1677px #FFF , 1103px 1103px #FFF , 698px 498px #FFF , 981px 27px #FFF , 1167px 1046px #FFF , 1644px 455px #FFF , 1639px 1637px #FFF , 736px 1626px #FFF , 1600px 1225px #FFF , 68px 1407px #FFF , 1269px 340px #FFF , 786px 888px #FFF , 426px 1922px #FFF , 1427px 902px #FFF , 670px 807px #FFF , 970px 688px #FFF , 1621px 1914px #FFF , 400px 650px #FFF , 1378px 1916px #FFF , 701px 126px #FFF , 186px 693px #FFF , 597px 748px #FFF , 1670px 1742px #FFF , 846px 1008px #FFF , 538px 105px #FFF , 282px 1701px #FFF , 207px 1169px #FFF , 933px 413px #FFF , 355px 1827px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1101px 1653px #FFF , 1924px 240px #FFF , 1675px 1379px #FFF , 1630px 1935px #FFF , 1838px 1426px #FFF , 666px 765px #FFF , 469px 573px #FFF , 672px 998px #FFF , 168px 1393px #FFF , 990px 983px #FFF , 553px 251px #FFF , 631px 1097px #FFF , 168px 1254px #FFF , 1767px 866px #FFF , 1909px 1427px #FFF , 1499px 1133px #FFF , 1060px 160px #FFF , 1378px 191px #FFF , 1109px 1304px #FFF , 1125px 9px #FFF , 1913px 241px #FFF , 841px 1683px #FFF , 388px 1860px #FFF , 673px 546px #FFF , 520px 1202px #FFF , 71px 72px #FFF , 574px 1969px #FFF , 732px 802px #FFF , 1879px 1607px #FFF , 1765px 1675px #FFF , 318px 341px #FFF , 1672px 211px #FFF , 2000px 1616px #FFF , 1830px 1516px #FFF , 1926px 1104px #FFF , 1770px 1140px #FFF , 1227px 1997px #FFF , 313px 370px #FFF , 1725px 75px #FFF , 1936px 277px #FFF , 1258px 1165px #FFF , 745px 1318px #FFF , 80px 621px #FFF , 800px 1223px #FFF , 1215px 443px #FFF , 707px 721px #FFF , 876px 1545px #FFF , 1310px 478px #FFF , 1819px 591px #FFF , 183px 1919px #FFF , 835px 1133px #FFF , 485px 717px #FFF , 1849px 1477px #FFF , 1680px 1565px #FFF , 1577px 1351px #FFF , 272px 1390px #FFF , 1559px 582px #FFF , 1276px 1491px #FFF , 1565px 13px #FFF , 1995px 1858px #FFF , 632px 354px #FFF , 194px 133px #FFF , 688px 399px #FFF , 1596px 1525px #FFF , 188px 1765px #FFF , 1465px 446px #FFF , 1648px 5px #FFF , 673px 88px #FFF , 678px 205px #FFF , 934px 263px #FFF , 1318px 380px #FFF , 488px 943px #FFF , 1931px 1897px #FFF , 233px 201px #FFF , 841px 1726px #FFF , 1308px 1198px #FFF , 1721px 1725px #FFF , 324px 1021px #FFF , 1601px 532px #FFF , 882px 790px #FFF , 25px 192px #FFF , 1376px 18px #FFF , 24px 867px #FFF , 1915px 853px #FFF , 1556px 1810px #FFF , 1108px 844px #FFF , 690px 1532px #FFF , 1069px 1047px #FFF , 1787px 576px #FFF , 953px 1635px #FFF , 577px 532px #FFF , 1913px 1241px #FFF , 806px 277px #FFF , 1485px 636px #FFF , 1779px 1266px #FFF , 1356px 125px #FFF , 591px 1528px #FFF , 562px 1509px #FFF , 1407px 1234px #FFF , 883px 1684px #FFF , 748px 1659px #FFF , 95px 544px #FFF , 592px 625px #FFF , 1339px 1449px #FFF , 1983px 206px #FFF , 1139px 196px #FFF , 1216px 868px #FFF , 1292px 1678px #FFF , 373px 650px #FFF , 989px 255px #FFF , 1305px 1425px #FFF , 1075px 1216px #FFF , 1741px 1466px #FFF , 861px 1352px #FFF , 1762px 1724px #FFF , 1160px 193px #FFF , 55px 531px #FFF , 802px 1074px #FFF , 207px 32px #FFF , 1090px 1576px #FFF , 1516px 1401px #FFF , 1495px 1775px #FFF , 456px 404px #FFF , 1025px 565px #FFF , 621px 792px #FFF , 700px 622px #FFF , 98px 163px #FFF , 1000px 126px #FFF , 1416px 360px #FFF , 579px 865px #FFF , 690px 786px #FFF , 955px 786px #FFF , 341px 1215px #FFF , 1010px 72px #FFF , 425px 198px #FFF , 1923px 897px #FFF , 1418px 230px #FFF , 257px 1677px #FFF , 974px 1258px #FFF , 172px 860px #FFF , 1387px 591px #FFF , 490px 791px #FFF , 872px 1514px #FFF , 58px 1941px #FFF , 1042px 997px #FFF , 144px 1132px #FFF , 1959px 1031px #FFF , 211px 523px #FFF , 1965px 590px #FFF , 590px 1096px #FFF , 371px 1554px #FFF , 1584px 586px #FFF , 842px 1724px #FFF , 1375px 134px #FFF , 1779px 643px #FFF , 851px 585px #FFF , 288px 1684px #FFF , 1827px 1819px #FFF , 4px 232px #FFF , 1809px 1109px #FFF , 889px 1634px #FFF , 1967px 1003px #FFF , 636px 735px #FFF , 1802px 1336px #FFF , 1853px 1668px #FFF , 1207px 646px #FFF , 858px 541px #FFF , 602px 751px #FFF , 1335px 1983px #FFF , 411px 185px #FFF , 75px 397px #FFF , 1853px 1677px #FFF , 1103px 1103px #FFF , 698px 498px #FFF , 981px 27px #FFF , 1167px 1046px #FFF , 1644px 455px #FFF , 1639px 1637px #FFF , 736px 1626px #FFF , 1600px 1225px #FFF , 68px 1407px #FFF , 1269px 340px #FFF , 786px 888px #FFF , 426px 1922px #FFF , 1427px 902px #FFF , 670px 807px #FFF , 970px 688px #FFF , 1621px 1914px #FFF , 400px 650px #FFF , 1378px 1916px #FFF , 701px 126px #FFF , 186px 693px #FFF , 597px 748px #FFF , 1670px 1742px #FFF , 846px 1008px #FFF , 538px 105px #FFF , 282px 1701px #FFF , 207px 1169px #FFF , 933px 413px #FFF , 355px 1827px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 298px 942px #FFF , 735px 829px #FFF , 739px 550px #FFF , 695px 477px #FFF , 621px 1877px #FFF , 446px 1061px #FFF , 1078px 1287px #FFF , 1992px 1810px #FFF , 73px 1803px #FFF , 1912px 309px #FFF , 1080px 515px #FFF , 575px 139px #FFF , 228px 445px #FFF , 1100px 136px #FFF , 941px 957px #FFF , 346px 1320px #FFF , 573px 1267px #FFF , 904px 1189px #FFF , 441px 1020px #FFF , 1700px 1101px #FFF , 1689px 487px #FFF , 789px 318px #FFF , 1324px 444px #FFF , 140px 273px #FFF , 1458px 288px #FFF , 897px 905px #FFF , 549px 11px #FFF , 444px 461px #FFF , 1115px 1608px #FFF , 1068px 1248px #FFF , 966px 1993px #FFF , 29px 1101px #FFF , 68px 102px #FFF , 610px 153px #FFF , 375px 1441px #FFF , 135px 1551px #FFF , 976px 1195px #FFF , 1525px 1398px #FFF , 1854px 126px #FFF , 147px 1875px #FFF , 1597px 1937px #FFF , 1073px 927px #FFF , 198px 1912px #FFF , 1022px 1815px #FFF , 19px 448px #FFF , 1476px 73px #FFF , 1115px 171px #FFF , 1134px 978px #FFF , 1550px 1575px #FFF , 924px 450px #FFF , 1855px 1751px #FFF , 1633px 927px #FFF , 1915px 13px #FFF , 1494px 179px #FFF , 1552px 942px #FFF , 506px 1538px #FFF , 721px 526px #FFF , 1196px 1056px #FFF , 1249px 516px #FFF , 517px 247px #FFF , 315px 1462px #FFF , 526px 1980px #FFF , 1077px 817px #FFF , 423px 283px #FFF , 1016px 1687px #FFF , 1001px 270px #FFF , 1184px 1344px #FFF , 1793px 1482px #FFF , 1257px 1310px #FFF , 1718px 902px #FFF , 339px 1550px #FFF , 1425px 1046px #FFF , 751px 1493px #FFF , 1356px 1875px #FFF , 1867px 540px #FFF , 846px 420px #FFF , 488px 1077px #FFF , 919px 1562px #FFF , 715px 1225px #FFF , 1951px 681px #FFF , 700px 354px #FFF , 1572px 883px #FFF , 1754px 568px #FFF , 425px 1787px #FFF , 979px 1392px #FFF , 182px 1091px #FFF , 1584px 1240px #FFF , 768px 605px #FFF , 400px 1302px #FFF , 1204px 910px #FFF , 868px 539px #FFF , 1879px 632px #FFF , 1394px 176px #FFF , 1949px 670px #FFF , 1554px 329px #FFF , 27px 942px #FFF , 1697px 389px #FFF , 257px 1689px #FFF , 1726px 1727px #FFF , 1056px 1027px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 298px 942px #FFF , 735px 829px #FFF , 739px 550px #FFF , 695px 477px #FFF , 621px 1877px #FFF , 446px 1061px #FFF , 1078px 1287px #FFF , 1992px 1810px #FFF , 73px 1803px #FFF , 1912px 309px #FFF , 1080px 515px #FFF , 575px 139px #FFF , 228px 445px #FFF , 1100px 136px #FFF , 941px 957px #FFF , 346px 1320px #FFF , 573px 1267px #FFF , 904px 1189px #FFF , 441px 1020px #FFF , 1700px 1101px #FFF , 1689px 487px #FFF , 789px 318px #FFF , 1324px 444px #FFF , 140px 273px #FFF , 1458px 288px #FFF , 897px 905px #FFF , 549px 11px #FFF , 444px 461px #FFF , 1115px 1608px #FFF , 1068px 1248px #FFF , 966px 1993px #FFF , 29px 1101px #FFF , 68px 102px #FFF , 610px 153px #FFF , 375px 1441px #FFF , 135px 1551px #FFF , 976px 1195px #FFF , 1525px 1398px #FFF , 1854px 126px #FFF , 147px 1875px #FFF , 1597px 1937px #FFF , 1073px 927px #FFF , 198px 1912px #FFF , 1022px 1815px #FFF , 19px 448px #FFF , 1476px 73px #FFF , 1115px 171px #FFF , 1134px 978px #FFF , 1550px 1575px #FFF , 924px 450px #FFF , 1855px 1751px #FFF , 1633px 927px #FFF , 1915px 13px #FFF , 1494px 179px #FFF , 1552px 942px #FFF , 506px 1538px #FFF , 721px 526px #FFF , 1196px 1056px #FFF , 1249px 516px #FFF , 517px 247px #FFF , 315px 1462px #FFF , 526px 1980px #FFF , 1077px 817px #FFF , 423px 283px #FFF , 1016px 1687px #FFF , 1001px 270px #FFF , 1184px 1344px #FFF , 1793px 1482px #FFF , 1257px 1310px #FFF , 1718px 902px #FFF , 339px 1550px #FFF , 1425px 1046px #FFF , 751px 1493px #FFF , 1356px 1875px #FFF , 1867px 540px #FFF , 846px 420px #FFF , 488px 1077px #FFF , 919px 1562px #FFF , 715px 1225px #FFF , 1951px 681px #FFF , 700px 354px #FFF , 1572px 883px #FFF , 1754px 568px #FFF , 425px 1787px #FFF , 979px 1392px #FFF , 182px 1091px #FFF , 1584px 1240px #FFF , 768px 605px #FFF , 400px 1302px #FFF , 1204px 910px #FFF , 868px 539px #FFF , 1879px 632px #FFF , 1394px 176px #FFF , 1949px 670px #FFF , 1554px 329px #FFF , 27px 942px #FFF , 1697px 389px #FFF , 257px 1689px #FFF , 1726px 1727px #FFF , 1056px 1027px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/*
#profil {
  background-image: url("../images/sectionprofil\ .png");
  background-size: cover;
  backface-visibility: hidden;
  overflow: hidden;
}

.kenburns-top-right {
	-webkit-animation: kenburns-top-right 4s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: kenburns-top-right 4s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}

@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
*/

#profil {
  background-color: #ffffff;
}
#competences {
  background: rgb(0, 0, 0);
}
#origami_bird_box {
  margin-top: -60px;
  perspective: 400px;
  filter: drop-shadow(0px 150px 10px rgba(0, 0, 0, 0.2));
}
@-moz-document url-prefix() {
  #origami_bird_box {
    filter: none;
  }
}
#origami_bird_box div {
  transform-style: preserve-3d;
}
#origami_bird_box .origami_bird {
  animation: fly 10000ms linear infinite;
}
#origami_bird_box .origami_bird_body {
  position: relative;
  width: 30px;
  height: 40px;
  background: #faf5fa;
}
#origami_bird_box .origami_bird_head {
  position: absolute;
  top: -30px;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #faf4fa;
  border-left: 15px solid transparent;
  transform-origin: 50% 100%;
  transform: rotateX(-20deg);
}
#origami_bird_box .origami_bird_wing_left {
  position: absolute;
  left: -30px;
  height: 30px;
  border-right: 30px solid #f7f3f1;
  border-bottom: 10px solid transparent;
  transform-origin: 100% 0;
  animation: wingLeft 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
#origami_bird_box .origami_bird_wing_left_top {
  position: absolute;
  left: -30px;
  border-right: 30px solid #f4f9fa;
  border-bottom: 30px solid transparent;
  transform-origin: 100% 0;
  animation: wingLeft 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
}
#origami_bird_box .origami_bird_wing_right {
  position: absolute;
  left: 30px;
  height: 30px;
  border-left: 30px solid #f9f2f2;
  border-bottom: 10px solid transparent;
  transform-origin: 0 0;
  animation: wingRight 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
#origami_bird_box .origami_bird_wing_right_top {
  position: absolute;
  border-left: 30px solid #f3f4f7;
  border-bottom: 30px solid transparent;
  transform-origin: 0 0;
  animation: wingRight 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
}
#origami_bird_box .origami_bird_tail_left {
  position: absolute;
  top: 40px;
  border-right: 30px solid transparent;
  border-top: 40px solid #f1f7f4;
  transform-origin: 50% 0;
  transform: rotateX(-20deg);
}
#origami_bird_box .origami_bird_tail_right {
  position: absolute;
  top: 40px;
  border-left: 30px solid transparent;
  border-top: 40px solid #f6f7f8;
  transform-origin: 50% 0;
  transform: rotateX(-20deg);
}

@keyframes fly {
  0% {
    transform: rotateX(-120deg) rotateZ(0deg) rotateX(10deg);
  }
  100% {
    transform: rotateX(-120deg) rotateZ(360deg) rotateX(10deg);
  }
}
@keyframes wingLeft {
  0% {
    transform: rotateY(-40deg);
  }
  100% {
    transform: rotateY(40deg);
  }
}
@keyframes wingRight {
  0% {
    transform: rotateY(30deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}
.box {
  /* width: 372px;
  height: 217px; */
  overflow: hidden;
}

.voir {
  display: none;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  line-height: 90px;
  text-align: center;
  top: 80px;
  left: 160px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.zoom {
  transition: transform 0.1s;
}

.zoom:hover {
  transform: scale(1.1);
}

h1 {
  color: rgb(250, 250, 250);
  font-family: 'Amalfi Coast', sans-serif;
  font-size: 8rem;
}

.Ttexte {
  color: #ffffff;
  font-family: 'economica';
}
.typewriter p {
  font-family: 'economica'; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.17em solid rgb(255, 255, 255); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blinking-cursor 0.5s step-end infinite;
  padding-left: 50px;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
a {
  font-size: 2rem;
}

h2 {
  color: #ffffff;
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
}
h3 {
  color: white;
  font-family: 'autography';
  font-size: 40px;
  margin: 20px 0px;
  padding: 20px 0px;
}

.description {
  color: rgb(0, 0, 0);
  font-family: "Economica', sans-serif";
  font-size: 15px;
 
}

.form-control {
  border-radius: 0rem;
  padding: 1rem;
}

input,
textarea {
  outline: 0px !important;
  border: 0px !important;
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  border-bottom: 5px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
}

.send {
  border: 1px solid #fffefd;
  border-radius: 0rem;
  color: #ffffff;
  padding: 1rem;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 15px;
}

.send:hover {
  color: #000;
  box-shadow: inset 200px 0 0 0 #ffffff;
}

#maps {
  width: 50%;
  height: 100%;
  margin: 0;
  color: #000;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  border: none;
  outline: none;
  cursor: pointer;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

#toTop:hover {
  background: #fff;
  color: #000000;
  border: #000000;
}

.skillcontainer {
  background: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
}

.skills {
  color: #fff;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.skills-bar-container {
  position: relative;
  width: 40%;
  min-width: 350px;

  list-style: none;
}

.skills-bar-container li {
  background: #666666;
  position: relative;
  width: 100%;
  height: 3px;
  margin-bottom: 35px;
  margin-top: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.skills-bar-container label {
  color: #fff;
  position: relative;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
}

.progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#progress-htmlcss {
  -webkit-animation-name: progress-htmlcss;
  animation-name: progress-htmlcss;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#progress-jsjq {
  -webkit-animation-name: progress-jsjq;
  animation-name: progress-jsjq;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-java {
  -webkit-animation-name: progress-java;
  animation-name: progress-java;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#progress-csharp {
  -webkit-animation-name: progress-csharp;
  animation-name: progress-csharp;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-sql {
  -webkit-animation-name: progress-sql;
  animation-name: progress-sql;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.progressblue {
  background-color: #ffffff;
}

@-webkit-keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes progress-jsjq {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@-webkit-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

@-webkit-keyframes progress-csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

@-webkit-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}

@-moz-keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-moz-keyframes progress-jsjq {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}

@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@-moz-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@-moz-keyframes progress-csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@-moz-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-jsjq {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes progress-csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .Adresse:hover,
.wrapper .Adresse:hover .tooltip,
.wrapper .Adresse:hover .tooltip::before {
  background: rgb(135, 255, 235);
  color: #000000;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
.wrapper .discord:hover,
.wrapper .discord:hover:hover .tooltip,
.wrapper .discord:hover:hover .tooltip::before {
  background: #fffbfb;
  color: #000000;
}

.info {
  color: #fff;
}

.info ul li {
  font-size: 1rem;
}
