@import url("https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap");

@font-face {
  font-family: "Amalfi Coast";
  src: url("../fonts/Amalfi\ Coast.ttf");
  /* font-display: initial; */
}

body {
  /* padding-top: 3rem; */
  font-size: 1.5rem;
}

header {
  font-family: "Economica", sans-serif;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0) !important;
}

.nav-link {
  color: rgb(116, 109, 109);
  font-size: 1.5rem;
  /* padding: 60px;*/
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #aeaaaa;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1.5rem;
  margin-top: 50px;
}

#tiana {
  float: left;
  top: 0;
  right: 0;
  z-index: 999;
}

#accueil,
#profil,
#portfolio,
#competences,
#contact {
  height: 100vh;
}

#accueil,
#portfolio,
#contact {
  background: #000;
}

#accueil {
  background-image: url("../images/tiana.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 0% right 0%;
}
.QuiSuiJe {
  color: #000;
}
.description {
  font-family: "Amalfi Coast";
}
p {
  animation-duration: 20s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#profil {
  background-color: #ffffff;
}
#competences {
  background: rgb(0, 0, 0);
}

#portfolio {
  animation-name: rubberBand;
}

.box {
  /* width: 372px;
  height: 217px; */
  overflow: hidden;
}

.voir {
  display: none;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  line-height: 90px;
  text-align: center;
  top: 60px;
  left: 130px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.zoom {
  transition: transform 0.1s;
}

.zoom:hover {
  transform: scale(1.1);
}

h1 {
  color: rgb(250, 250, 250);
  font-family: "Amalfi Coast", sans-serif;
  font-size: 8rem;
}

.Ttexte {
  color: #e8d5d5;
  font-family: "economica";
  margin-left: 80px;
  margin-top: -40px;
}
a {
  font-size: 2rem;
}

h2 {
  color: #ffffff;
  font-family: "Economica", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
}
h3 {
  color: white;
  font-family: "autography";
  font-size: 40px;
}

.description {
  color: rgb(0, 0, 0);
  font-family: "autography";
  font-size: 40px;
}

.form-control {
  border-radius: 0rem;
  padding: 1rem;
}

input,
textarea {
  outline: 0px !important;
  border: 0px !important;
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  border-bottom: 5px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
}

.send {
  border: 1px solid #fffefd;
  border-radius: 0rem;
  color: #ffffff;
  padding: 1rem;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 15px;
}

.send:hover {
  color: #000;
  box-shadow: inset 200px 0 0 0 #ffffff;
}

#maps {
  width: 50%;
  height: 100%;
  margin: 0;
  color: #000;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  border: none;
  outline: none;
  cursor: pointer;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

#toTop:hover {
  background: #fff;
  color: #000000;
  border: #000000;
}

.progress-bar {
  background-color: #000000;
}

.progress-bar {
  background-color: #000000;
}

.progress {
  height: 30px;
}

.fa-html5,
.fa-css3,
.fa-js,
.fa-bootstrap {
  position: relative;
}

.fa-html5:before {
  content: "\f13b";
  position: absolute;
  top: 13px;
  left: 5px;
}

.fa-css3::before {
  content: "\f13c";
  position: absolute;
  top: 13px;
  left: 5px;
}

.fa-bootstrap::before {
  content: "\f836";
  position: absolute;
  top: 13px;
  left: 5px;
}

.fa-js::before {
  content: "\f8b3";
  position: absolute;
  top: 13px;
  left: 5px;
}
.a {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1.5;
  display: inline-block;
}
.github {
  color: rgb(250, 250, 250);
}
.linkedin {
  color: rgb(250, 250, 250);
}
.fa-solid {
  color: #fffefd;
}
.list-unstyled {
  font-size: 15px;
  color: #fff;
}
